*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  gap: 0;
}
#gridContainer{
    display: flex;
    height: 500px;
    width: 500px;
    position: relative;
    margin-top: 30px;
    border: 2px solid orange;
    flex-flow: row wrap;
    justify-content: space-around;
}
.divGrid{
    border: 0.5px solid black;
    border-radius: 15%;
}
.active{
    background-color: blue;
}
.boton{
    background-color: rgb(212, 169, 211);
    border: orchid 0.5px solid;
    border-radius: 10%;
    padding: 8px 20px;
    font-size: 1.4rem;
    margin-top: 30px;
    justify-self: center;
}
.containerDelContainer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}